@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

// Set your brand colors
$blue: #038694;
$pink: #fe9d72;
$purple: #4900b8;
$grey-dark: #4f4f4f;
$grey-light: #f2f2f2;
$white: #ffffff;
$black: #000000;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $blue;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
//@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";


h1 {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 120.62%;
    color: $black;
    margin-top: 1.5rem;
}

h2 {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 120.62%;
    color: $black;
    margin-top: 1.5rem;
}

h3 {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: $grey-dark;
    margin-top: 1.5rem;
}

body {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: $grey-dark;
}

p {
    margin-top: 1.5rem;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 48px;
    }
}