@charset "utf-8";
@import "./styles/colors.scss";

.pre-footer {
    height: 10px;
    background-color: $purple;
}

h2 {
    font-family: "Catamaran", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 140.62%;
    margin-top: 0rem;
    color: $grey-light;
}

.ftr-p {
    margin: 0px;
    font-family: "Catamaran", sans-serif;
    font-style: normal;
    font-size: 18px;
    color: $grey-light;
}
