@charset "utf-8";

.topic {
    margin: auto;
    max-width: 250px;
    margin-top: 1rem;
    overflow: visible;
}

.illustration {
    display: flex;
    justify-content: center;
    max-width: 250px;
    max-height: 250px;
}
